{% extends "base.html" %}
{% load static %}
{% block title %}Ma page d'accueil{% endblock %}
{% block content %}
    <h2>Bienvenue !</h2>

        <img src="{% static 'django.jpg' %}" alt="Mon image" width="60" height="60"/>


        <h1>Bienvenue sur le blog!</h1>
        <p><a href="{% url 'add_article' %}" target="_blank">Ajouter un article</a>
        <p><a href="{% url 'new_contact' %}" target="_blank">Ajouter un contact</a>
       <p><a href="{% url 'contact_list' %}" target="_blank">Liste des contacts</a>
       <p><a href="{% url 'new_document' %}" target="_blank">Ajouter un document</a>
       <p><a href="{% url 'document_list' %}" target="_blank">Liste des documents</a>

{% for article in articles %}
    <div class="article">
    	<h3>{{ article.title }}</h3>
    	<p>{{ article.content|truncatewords_html:80 }}</p>
        <p><a href="{% url 'view_article' article.id %}" target="_blank">Lire la suite</a>
        <p><a href="{% url 'edit_article' article.id %}" target="_blank">Modifier l'article</a>
        <p><a href="{% url 'delete_article' article.id %}" target="_blank">Supprimer l'article</a>
    </div>
{% empty %}
    <p>Aucun article.</p>
{% endfor %}
{% endblock %}